.taskboard {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(132, 50, 50);
    height: 1000px;
    flex-direction: column;
  }
  &-columns {
    display: flex;
  }
}
